<div class="row my-4">
    <div class="col-md-6"> 
        <h3>List of Tasks</h3>
    </div>
    <div class="col-md-6">
        <button (click)="showForm =! showForm" class="btn btn-dark btn-sm">
            <i class="fa fa-plus"> </i>New Task
    </button>
    </div>
</div>

<div class="row" *ngIf="showForm">
    <div class="col-md-6 mx-auto">

    <div class="form-group">
        <label for="label">label</label>
        <input [(ngModel)]="mytask.label" id="label" type="text" class="form-control"></div>
        <div class="form-check my-2">
            <label class="form-check-label">
              <input [(ngModel)]="mytask.completed" type="checkbox" class="form-check-input">
              Completed
            </label>
          </div>
<button (click)="addTask()" *ngIf="!editform" type="button" class="btn btn-success btn-block">
    <i class="fa fa-send">
    </i>new task</button>

    <button (click)="updateTask()" *ngIf="editform" type="button" class="btn btn-warning btn-block">
        <i class="fa fa-refresh">
        </i>Update task</button>

    </div> 
</div>

<div class="row">
    <div class="col-md-6 mx-auto">
        list 
        <input (keyup)="SearchTasks()" [(ngModel)]="searchText" placeholder="search..." type="text" class="form-control">
        <ul class="list-group">
            
            <li *ngFor="let task of resultTasks" class="list-group-item d-flex justify-content-between align-items-center">
                <button (click)="editTask(task)" class="btn btn-warning btn-sm">
                    <i class="fa fa-pencil">

                </i></button>
                {{task.label}}
                <span (click)="changeStatusCompleted(task)"  class="badge badge-danger badge-pill">
                    <i [ngStyle]="{ color: task.completed ? 'green' : 'red' }"  [ngClass]="{'fa-thumbs-up':task.completed ,'fa-thumbs-down':!task.completed }" class="fa  "style="color:green"></i>
                </span>
                <button (click)="deleteTask(task.id)" class="btn btn-sm btn-dark">
                    <i class="fa fa-trash">

                </i></button>
            </li>
           
        </ul>
    </div>
</div>